p{
    background-color: #ff5010d2;
    color: brown;
    line-height: 30px;
    text-align: center;
}
h1{
    text-align: center;
    color: red;
}
h3{
    color: black;
    text-align: center;
}
h4{
    text-align: center;
}
body{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: rgb(0, 255, 0);
}
button{
    background-color: white;
    color: blueviolet;
    width: 100px;
}
textarea{
    color: #000000;
    text-align: center;
}
span{
    text-decoration: underline;
}
