h1{
    text-align: center;
    color: rgb(164, 240, 13);

    text-decoration: dashed rgb(178, 223, 229) underline ;
}
h2{
    font-weight: 500;
    text-decoration-color: aqua;
    text-align: justify;
    font-family: impact;

}
h3{
    text-decoration: underline;
    text-align: justify;
    letter-spacing: normal;
}
p{
    text-decoration: dashed;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
img{
    text-align:center;
    border: solid;
}
h4{
    line-height: 2.5;
    font-family: 'Times New Roman', Times, serif;
}