div{
    height: 200px;
    width: 500px;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    /* border-left-color: aqua;
    border-top-color: blueviolet;
    border-top-style: groove; */
    border-radius: 15px;
    /* border-top-left-radius: 10px; */

}



/* h1{
    border-width: 5px;
    border-color:black;
    border-style: dotted;
    text-align: center;
} */
h1{
    border: 2px solid green;
    /* width style color */

}
button{
    border-radius: 10px;
}

