/* universal  */
*{
    font-family: 'Courier New', Courier, monospace
}
/* element */
h3{
    color: purple;
}
h1 , h3{
    color: #b92b27;
}
h2{
    color: aqua;
}
/* id selector */
#login {
    color: blue;
    background-color: white;
}
#signup{
    background-color: #b92b27;
}
/* class */
.upvote{
    background-color: rgb(15, 249, 47);
    color: rgb(208, 123, 20);
}
#myid{
    color: rgb(188, 174, 15);
}
/* Descendant */
p a{
    color: hotpink;
    background-color: rgb(246, 218, 242);
}
nav ul li{
    color: rgb(105, 75, 123);
    ;
}
/* sibling */
p + h3{
    color: cadetblue;
    text-decoration: underline;
}
.upvote + button {
    color: blueviolet;
    background-color: beige;
    font-weight: bold;
}
/* child combinator */
div > input{
    color: hotpink;
    background-color: azure;
}
/* Attribute */
input[type = "passowrd"]{
    columns: red;
}
/* pseudo */
button:hover{
    color: aqua;
    background-color: rgb(104, 80, 126);
}
h3:hover{
    text-decoration: none;
}
button:active{
    color: rgb(96, 132, 178);
    background-color: hotpink;
}
p:active{
    font-weight: bold;
    color: rgb(89, 89, 137);
}
h2:hover{
    color: rgb(191, 124, 124);
}
input[type="radio"]:checked + label{
    color: brown;
    font-weight: bold;
}
h1::first-letter{
    color: rgb(233, 7, 44);
}
p::first-line{
    color: rgb(227, 76, 25);
}
p::selection{
    color: rgb(203, 170, 176);
}